---
---

@import '{{ site.theme }}';

ul li {
  padding: 0;
}

#container {
  padding: 0 30px;
}

// Use a border instead of the image GitHub uses by default
hr,
footer {
  background: none;
  border-top: 1px solid #cccc;
  height: 0;
  margin: 0;
}

ul,
ol {
    margin-left: 20px;
}

// Support nesting bullets
ul > li > ul,
ol > li > ol {
  margin-left: 60px;
}

header {
    padding: 30px 0 15px;
}

p.description {
    color: #aaa;
    font-size: 18px;
    letter-spacing: -1px;
    margin: 5px 0 0;
}

h3 {
  color: #888;
}

p {
    font-weight: normal;
    margin-bottom: 10px;
}
