---
---

@import '{{ site.theme }}';

ul li {
  padding: 0;
}

#container {
  padding: 0 30px;
}

// Use a border instead of the image GitHub uses by default
hr,
footer {
  background: none;
  border-top: 1px solid #cccc;
  height: 0;
  margin: 0;
}

// Support nesting bullets
ul > li > ul {
  margin-left: 40px;
}

h3 {
  color: #888;
}
